<li class="nav-item">
	<a class="nav-link {{#active}}active{{/active}}" data-bs-toggle="tab" href="#{{id}}" role="tab" aria-selected="true">
		{{labelCharacter}}<span>{{labelRemainder}}</span>
	</a>
</li>
	